# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so

# Coverage
htmlcov/
.coverage
coverage.xml

# mypy
.mypy_cache/

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
